#navbarLinks a{
    background-color: transparent;
    color: #111111;
    position: relative;
}

#navbarLinks a:hover{
    color: #f8a305;
}

#navbarLinks a:after{
    width: 0;
    height: 1px;
    background-color: #111111;
    bottom: 0;
    left: 0;
    position: absolute;
    content: '';
}
#navbarLinks a:hover:after{
    width: 70%;
    bottom: 0;
    left: 0;
    background-color: #f8a305;
    transition: linear 0.1s;
}

#navbarLinks a.active{
    background-color: transparent;
    color: #111111;
}
#navbarLinks a.active::after{
    width: 70%;
    height: 1px;
    background-color: #111111;
    bottom: 0;
    left: 0;
    position: absolute;
    content: '';
}

